---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import HeroCarousel from '../components/HeroCarousel.astro';
import Plans from '../components/Plans.astro';
import InternetSection from '../components/InternetSection.astro';
import TvSection from '../components/TvSection.astro';
import About from '../components/About.astro';
import LocationMap from '../components/LocationMap.astro';
import WhatsappButton from '../components/WhatsappButton.astro';
---

<Layout title="VideoDigital - Conectividad de Alta Velocidad">
  <main>
    <Navbar />
    <HeroCarousel />
    <Plans />
    <InternetSection />
    <TvSection />
    <About />
    <LocationMap />
    <Footer />
    <WhatsappButton />
  </main>
</Layout>
